h1 {
    background: red;
    width: 200px;
    height: 100px;
}

p {
    background: yellow;
    height: 100px;
}

span {
    display: inline-block;
    background: green;
    height: 50px;
}

.gallery {
    text-align: center;
}

img {
   width: 150px;
   margin: 5px;
}

.div-center {
    width: 100px;
    height: 100px;
    background: red;
}

.div-center {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: center;

}

.card-title {
    margin:  0;
    height: 30px;
    display: block;
    padding: 15px;
}

.card-button {
    display: block;
    width: 150px;
    height: 30px;
    background-color: aqua;
    border-radius: 30px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}